theme = "catppuccin_macchiato"

# --- EDITOR CONFIG ---

[editor]
scrolloff = 10
color-modes = true
line-number = "relative"
bufferline = "never"
cursorline = true
mouse = true
cursorcolumn = true
auto-pairs = true
true-color = true
shell = ["zsh", "-c"]
jump-label-alphabet = "jfkdls;aurieowpqnvmcxz"

[editor.statusline]
left = [
  "mode",
  "spinner",
  "diagnostics",
  "file-base-name",
  "read-only-indicator",
  "file-modification-indicator",
]
right = [
  # "version-control",
  # "selections",
  "register",
  "position",
  "position-percentage",
  "total-line-numbers",
  "file-encoding",
  "file-line-ending",
  # "file-type",
]
mode.normal = "N"
mode.insert = "I"
mode.select = "V"

[editor.file-picker]
hidden = false

[editor.lsp]
enable = true
snippets = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "block"

[editor.soft-wrap]
enable = true

[editor.indent-guides]
render = true
character = "┊"
skip-levels = 1

[keys.normal]
# Common
"esc" = ["collapse_selection","keep_primary_selection", "normal_mode"]
# Jump between selected word next and prev
# for * (Star key) remapped from search_selection_detect_word_boundaries to automatic select and go to next search
# "*" = [
#   "move_char_right",
#   "move_prev_word_start",
#   "move_next_word_end",
#   "search_selection",
#   "search_next",
# ]
# "#" = [
#   "move_char_right",
#   "move_prev_word_start",
#   "move_next_word_end",
#   "search_selection",
#   "search_prev",
# ]

# Jump between paragraph
"G" = "goto_next_paragraph"
"H" = "goto_prev_paragraph"

# Common control
# Remap original CTRL+s Save the current selection to the jumplist to format and Save files 
"C-s" = [":write"]
"C-j" = "jump_view_down"
"C-k" = "jump_view_up"
"C-h" = "jump_view_left"
"C-l" = "jump_view_right"
"C-r" = [":rla",":echo 'Reload and discrad all buffer from source ✅'"]

# Open Current Buffer Project
"C-e" = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output yazi "$(dirname "%{buffer_name}:-.")" --chooser-file=/tmp/unique-file',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
]
# Open Current Workspace
"C-E" = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output yazi "$PWD" --chooser-file=/tmp/unique-file',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
]
# Interactive search FZF
"C-/" = ":pipe-to hx-wezterm.sh fzf"

# Yank to system clipboard
"y" = ["yank","yank_to_clipboard", "collapse_selection"]
"Y" = ["extend_to_line_bounds", "yank","yank_to_clipboard", "collapse_selection"]
# Paste Plus
# "p" = "paste_clipboard_after"
# "P" = "paste_clipboard_before"

# Extend  and selection
"D" = ["extend_to_line_bounds", "yank","yank_to_clipboard", "delete_selection"]
"V" = ["select_mode", "extend_line"]
# Line select extend plus
"X" = ["extend_line_above"]

# Buffer Line
# Remap original key from swap window left righ to change buffer prev and next
# to access swap still available on window mode (Ctrl+w)
"{" = ":bprev"
"}" = ":bnext"
# tab = ":bnext"
# S-tab = ":bprev"

# Quick select up and down Normal Mode
"S-up" = "extend_line_above"
"S-down" = "extend_line_below"

[keys.select]
# Common
"esc" = ["collapse_selection", "normal_mode"]
# "w" = ["collapse_selection","move_next_word_start"]

# Yank Plus
"y" = ["yank","yank_to_clipboard", "collapse_selection"]
"Y" = ["extend_to_line_bounds", "yank","yank_to_clipboard", "collapse_selection"]
# Line select extend plus
"X" = ["extend_line_above"]

# Selection change without copy to register 
"d" = ["change_selection", "yank_to_clipboard"]
"c" = "delete_selection"

# Selection object
"i" = "select_textobject_inner"
"a" = "select_textobject_around"

# Quick select up and down Normal Mode
"S-up" = "extend_line_above"
"S-down" = "extend_line_below"

# Move lines up/down in visual mode
"A-j" = [
  "extend_to_line_bounds",
  "delete_selection",
  "move_line_down",
  "paste_after",
  "select_mode",
]
"A-k" = [
  "extend_to_line_bounds",
  "delete_selection",
  "move_line_up",
  "paste_before",
  "select_mode",
]

[keys.insert]
"esc" = ["collapse_selection", "keep_primary_selection", "normal_mode"]
"C-s" = [":write", "normal_mode"]
"C-t" = "indent"
"C-d" = "unindent"

[keys.normal.space]
"space" = "file_picker_in_current_buffer_directory"
"|" = "vsplit"
"-" = "hsplit"
"l" = ":toggle lsp.display-inlay-hints"
"q" = "wclose"
"," = "buffer_picker"

# --- Tools ---
[keys.normal."'"]
# --- automatic run and open pane
"r" = ":pipe-to hx-run.sh"

[keys.normal."'".s]
"r" = ":append-output hx-snippet.sh rct"
"c" = ":append-output hx-snippet.sh clg"
# --- Development Tools ---
[keys.normal.";"]
"a" = ":pipe-to hx-wezterm.sh ai_gemini %{buffer_name} %{cursor_line}"
"b" = ":pipe-to hx-wezterm.sh blame %{buffer_name} %{cursor_line}"
"e" = ":pipe-to hx-wezterm.sh explorer %{buffer_name} %{cursor_line}"
"t" = ":pipe-to hx-wezterm.sh open_terminal_bottom;"
"g" = ":pipe-to hx-wezterm.sh lazygit %{buffer_name} %{cursor_line}"
"y" = ":pipe-to hx-wezterm.sh yazi %{buffer_name} %{cursor_line}"
"v" = ":pipe-to hx-wezterm.sh open_terminal_right"
"s" = ":pipe-to hx-wezterm.sh string_replace"
"r" = ":pipe-to hx-wezterm.sh file_replace"
"c" = ":pipe-to code ."
"O" = ":pipe-to open ."
"o" = ':pipe-to open "$(dirname "%{buffer_name}:-.")"'
"f" = ":sh echo 'Filename copied!';basename '%{buffer_name}' | pbcopy"
"F" = ":sh echo 'Absolute path copied!';echo -n '%{buffer_name}' | pbcopy"

# Harpoon Bookmark CLI
[keys.normal."C-b"]
"a" = ":sh hx-bookmark.sh add %{buffer_name} %{cursor_line}"
"o" = ":pipe-to hx-wezterm.sh bookmark_open"
"r" = ":pipe-to hx-wezterm.sh bookmark_remove"

# Buffer Control
[keys.normal.space.b]
"b" = "buffer_picker"
"d" = ":buffer-close"
"D" = ":buffer-close!"
"o" = ":buffer-close-others"
"O" = ":buffer-close-others!"
"a" = ":buffer-close-all"
"A" = ":buffer-close-all!"
"n" = ":bnext"
"p" = ":bprev"
