# --- Language Server Definitions ---

[language-server.biome]
command = "biome"
args = ["lsp-proxy"]

[language-server.eslint]
command = "vscode-eslint-language-server"
args = ["--stdio"]
except-features = ["format"]

[language-server.emmet]
command = "emmet-ls"
args = [ "--stdio" ]

[language-server.cspell]
command = "cspell-lsp"
args = ["--stdio"]

[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.sql-lsp]
command = "postgrestools"
args = ["lsp-proxy"]

[language-server.dart-ls]
command = "fvm"
args = ["dart", "language-server"]

[language-server.codebook]
command = "codebook-lsp"
args = ["serve"]

[language-server.tailwind-ls]
command = "tailwindcss-language-server"
args = ["--stdio"]
config = { userLanguages = { astro = "html", "*.astro" = "html" } }

# --- Language Configurations ---

[[language]]
name = "dart"
language-servers = ["dart-ls", "codebook"]
formatter = { command = "fvm", args = ["dart", "format", "-l", "120"] }
scope = "source.dart"
file-types = ["dart"]
roots = ["pubspec.yaml"]
auto-format = true


[[language]]
name = "rust"
language-servers = ["rust-analyzer", "codebook"]
auto-format = true

[[language]]
name = "markdown"
language-servers = ["marksman", "harper-ls"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"]}
auto-format = true

# [[language]]
# name = "typescript"
# language-servers = [
#     { name = "typescript-language-server", except-features = ["format"] },
#     "biome",
#     "cspell"
# ]
# formatter = { command = "biome", args = ["format", "--stdin-file-path", "file.ts"] }

[[language]]
name = "typescript"
language-servers = ["typescript-language-server", "eslint", "codebook"]
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true
# formatter = { command = "dprint", args = ["fmt", "--stdin", "typescript"] }

# [[language]]
# name = "tsx"
# language-servers = [
#     { name = "typescript-language-server", except-features = ["format"] },
#     "biome",
#     "cspell"
# ]
# formatter = { command = "biome", args = ["format", "--stdin-file-path", "file.tsx"] }

[[language]]
name = "tsx"
language-servers = ["typescript-language-server", "eslint", "codebook", "emmet", "tailwind-ls"]
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true
# formatter = { command = "dprint", args = ["fmt", "--stdin", "tsx"] }

# [[language]]
# name = "javascript"
# language-servers = [
#     { name = "typescript-language-server", except-features = ["format"] },
#     "biome",
#     "cspell"
# ]
# formatter = { command = "biome", args = ["format", "--stdin-file-path", "file.js"] }

[[language]]
name = "javascript"
language-servers = ["typescript-language-server", "eslint", "cspell"]
formatter = { command = "prettier", args = ["--parser", "babel"] }
auto-format = true
# formatter = { command = "dprint", args = ["fmt", "--stdin", "javascript"] }

# [[language]]
# name = "jsx"
# language-servers = [
#     { name = "typescript-language-server", except-features = ["format"] },
#     "biome",
#     "cspell"
# ]
# formatter = { command = "biome", args = ["format", "--stdin-file-path", "file.jsx"] }

[[language]]
name = "jsx"
language-servers = ["typescript-language-server", "eslint", "codebook", "emmet"]
formatter = { command = "prettier", args = ["--parser", "babel"] }
auto-format = true
# formatter = { command = "dprint", args = ["fmt", "--stdin", "jsx"] }

[[language]]
name = "json"
language-servers = ["harper-ls"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "json"] }
auto-format = true
# formatter = { command = "biome", args = ["format", "--stdin-file-path", "file.json"] }
# formatter = { command = "prettiercodebookargs = ["--parser", "json"] }

[[language]]
name = "yaml"
language-servers = ["yaml-language-server"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "yaml"] }
auto-format = true
# formatter = { command = "prettier", args = ["--stdin-filepath", "file.yaml"] }

[[language]]
name = "bash"
language-servers = ["bash-language-server"]
formatter = { command = "shfmt", args = ["-i", "2", "-ci"] }
auto-format = true

[[language]]
name = "html"
language-servers = ["vscode-html-language-server", "codebook"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "html"] }
auto-format = true
# formatter = { command = "prettier", args = ["--parser", "html"] }

[[language]]
name = "sql"
language-servers = ["sql-lsp", "codebook"]
formatter = { command = "sql-formatter", args = ["-l", "postgresql"] }
auto-format = true
